//RESET CSS

// reset everything
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

// prevent iOS font size change
html {
  -webkit-text-size-adjust: 100%;
}

// reset body line-height
body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
}

// all media elements set to block and full width
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

// inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

// collapse table
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// assign button hover state
button,
[role="button"] {
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: 0;
  }
}

// reset anchor style
a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}

// reset heading style
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

// reset list style
ol,
ul {
  list-style: none;
}

// reset text input style
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  &:focus {
    outline: 0;
  }
}

// reset firefox placeholder opacity
::-moz-placeholder {
  opacity: 1;
}

// reset textarea style
textarea {
  // move the label to the top
  vertical-align: top;

  // turn off scroll bars in IE unless needed
  overflow: auto;
}

// reset checkbox and radio style
[type="checkbox"],
[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus {
    outline: 0;
  }
}

// remove all animations, transitions and smooth scroll for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// CLOSE RESET CSS

// CONTAINER CSS

.container,
[class$="-container"] {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container,
  [class$="-container"] {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  [class$="-container"] {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  [class$="-container"] {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  [class$="-container"] {
    width: 1140px;
  }
}

// CLOSE CONTAINER CSS

// TITLE AND SUBTITLE

.title {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 40px;
  font-weight: 700;
  width: 70%;
}

.subtitle {
  padding-top: 10px;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 28px;
  width: 70%;
  margin-top: 25px;
}

// TITLE AND SUBTITLE CLOSE

// HOME PAGE
.home {
  .home-logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 130px;
  }

  .home-container {
    padding-top: 25px;
    padding-bottom: 30px;
    .home-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .home-left-side {
        .home-title {
          width: 85%;
        }

        .home-subtitle {
          width: 85%;
        }
      }

      .home-right-side {
        padding-left: 25px;
        .home-image {
          width: 350px;
          height: 350px;

          .image-wrapper {
            overflow: hidden;
            border-radius: 10%;
            transform: rotate(3deg);
            .home-img {
              width: 100%;
            }
          }
        }
      }
    }

    .homepage-socials {
      padding-top: 30px;

      .homepage-social-icon {
        padding-right: 20px;
        font-size: 25px;
        color: var(--secondary-color);
        transition: color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out;
        -moz-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        -o-transition: color 0.2s ease-in-out;

        &:hover {
          color: var(--primary-color);
        }
      }
    }

    .home-projects {
      padding-top: 40px;
      .all-projects {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        margin-left: -35px;
        margin-right: -35px;
        padding-bottom: 30px;
        padding-top: 30px;

        .all-projects-project {
          box-sizing: border-box;
          overflow: hidden;
          padding: 10px;
          width: 33.3333%;
        }
      }
    }
  }
}

// CLOSE HOME PAGE
